<% content_for(:page_title) {t '.page_title' } %>
<% content_for(:title) {t '.page_heading' } %>
<% content_for(:page_subhead) {t '.page_subhead' } %>

<p><% @roles.each do |role| %><%= role.suffix %> <%= role.priority %><%= ", " if role != @roles.last %><% end %></p>

<div class="row" data-masonry='{"percentPosition": true }'>
  <%= render partial: 'roles/by_precedence/role', collection: @roles, as: :role %>
</div>
