<% content_for(:page_title) {t '.page_title' } %>
<% content_for(:title) {t '.page_heading' } %>
<% content_for(:page_subhead) {t '.page_subhead' } %>

<style>
@media (min-width: 34em) {
  .card-columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
@media (min-width: 48em) {
  .card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media (min-width: 62em) {
  .card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
@media (min-width: 75em) {
  .card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
</style>

<p><% @roles.each do |role| %><%= role.suffix %> <%= role.priority %><%= ", " if role != @roles.last %><% end %></p>

<div class="card-columns">
  <%= render partial: 'roles/by_precedence/role', collection: @roles, as: :role %>
</div>
