# Copy this file into a new file called ".env" in the root of the project.
# The dotenv gem will load the contents of .env into the environment when
# Rails starts. Access values like this: ENV["RAILS_SECRET_KEY_BASE"]
#
# The purpose of this file is to keep secrets out of source control.
# For more information, see: https://github.com/bkeepers/dotenv
#
# For example: ENV["RAILS_SECRET_TOKEN"]
#
# The same system can be used when deploying to production. Alternatively,
# use the facilities of your production platform to set environment variables
# there directly.

RAILS_SECRET_KEY_BASE=