<%= will_paginate @people if @people.respond_to?(:total_pages) %>
<div id="plaque-collection">
  <%= render partial: 'people/row', collection: @people, as: :person %>
</div>
<%= will_paginate @people if @people.respond_to?(:total_pages) %>
