<%= will_paginate @people if @people.respond_to?(:total_pages) %>
<div id="person-tiles" class="row" data-masonry='{"percentPosition": true }'>
  <%= render partial: 'people/tile', collection: @people, as: :person %>
</div>
<%= will_paginate @people if @people.respond_to?(:total_pages) %>
