<% content_for(:page_title) {t '.page_title', :letter => @index.upcase} %>
<% content_for(:title) {t '.page_heading', :letter => @index.upcase} %>
<% content_for(:admin_menu) {navbar_link_to t('buttons.add'), new_person_path} %>

<ul class="nav">
  <% for letter in "A".."Z" %>
    <%= content_tag("li", navigation_link_to(letter, people_by_index_path(letter.downcase)), :class => "nav-link") %>
  <% end %>
</ul>

<style media="screen" type="text/css">
  @media (min-width: 34em) {
    .card-columns {
      -webkit-column-count: 4;
      -moz-column-count: 4;
      column-count: 4;
    }
  }
  @media (min-width: 48em) {
    .card-columns {
      -webkit-column-count: 5;
      -moz-column-count: 5;
      column-count: 5;
    }
  }
  @media (min-width: 62em) {
    .card-columns {
      -webkit-column-count: 6;
      -moz-column-count: 6;
      column-count: 6;
    }
  }
  @media (min-width: 75em) {
    .card-columns {
      -webkit-column-count: 7;
      -moz-column-count: 7;
      column-count: 7;
    }
  }

  .card.person .card-info {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    background-color:rgba(91, 192, 222, 0.75);
    border-color: #5bc0de;
    padding: 0.25rem;
    padding-top: 1.25rem;
    text-align: center;
  }
  .card.person .card-info .card-title {
    padding:0 5px;
    font-size: 20px;
    line-height: 1;
    color: #262626;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
</style>

<div class="card-columns">
  <%= render @people %>
</div>
