<% content_for(:page_title) {t '.page_title', :letter => @index.upcase} %>
<% content_for(:title) {t '.page_heading', :letter => @index.upcase} %>
<% content_for(:admin_menu) {navbar_link_to t('buttons.add'), new_person_path} %>

<ul class="nav">
  <% for letter in "A".."Z" %>
    <%= content_tag("li", navigation_link_to(letter, people_by_index_path(letter.downcase)), :class => "nav-link") %>
  <% end %>
</ul>

<style media="screen" type="text/css">
  @media (min-width: 34em) {
      .card-columns {
          -webkit-column-count: 4;
          -moz-column-count: 4;
          column-count: 4;
      }
  }
  @media (min-width: 48em) {
      .card-columns {
          -webkit-column-count: 5;
          -moz-column-count: 5;
          column-count: 5;
      }
  }
  @media (min-width: 62em) {
      .card-columns {
          -webkit-column-count: 6;
          -moz-column-count: 6;
          column-count: 6;
      }
  }
  @media (min-width: 75em) {
      .card-columns {
          -webkit-column-count: 7;
          -moz-column-count: 7;
          column-count: 7;
      }
  }
</style>

<div class="card-columns">
  <%= render @people %>
</div>
