<div class="card vcard organisation" typeof="foaf:Organization">
  <div class="card-block">
    <h4 class="card-title text-center">
      <% if organisation.language_id == nil || organisation.language.alpha2 == 'en-GB' || organisation.language.alpha2 == 'en' %>
        <%= link_to(organisation.name, organisation) %>
      <% else %>
        <span class="flag-icon <%= organisation.language.flag_icon %>"></span>
        <%= link_to(content_tag('span', organisation.name, lang: organisation.language.alpha2), organisation) %>
      <% end %>
    </h4>
    <span class="badge badge-secondary pull-right"><%= organisation.sponsorships.size %></span>
  </div>
</div>
