<div class="col-sm-4 card">
  <%= link_to(organisation.name, organisation) %>
  <span class="badge">
    <%= pluralize(organisation.sponsorships.size, "plaque") if organisation.sponsorships.size > 0 %><%= t('.no_plaques') if organisation.sponsorships.size == 0 %>
  </span>
</div>