<% content_for(:page_title) {t '.page_title'} %>
<% content_for(:title) {t '.page_heading'} %>
<% content_for(:admin_menu) {navbar_link_to(t('buttons.add'), new_language_path, {class: :edit, title: t('buttons.add')})} %>

<canvas id="myCanvas" width="600" height="650">
  <div class="row">
    <%= render @languages %>
  </div>
</canvas>

<script>
  window.onload = function ()
  {
    var data = [<% @languages.sort{|a,b| b.plaques.size <=> a.plaques.size}.each do |language| %><%= language.plaques.size %>,<% end %>];
    var hbar = new RGraph.HBar('myCanvas', data);
    hbar.Set('chart.labels', [<% @languages.sort{|a,b| b.plaques.size <=> a.plaques.size}.each do |language| %>'<%= language %>',<% end %>]);
    hbar.Set('chart.colors', ['blue','red','green','orange']);
    hbar.Set('chart.strokestyle', 'rgba(0,0,0,0)');
    hbar.Set('chart.labels.above', true);
    hbar.Set('chart.vmargin', 15);
    hbar.Set('chart.background.grid', false);
    hbar.Set('chart.colors.sequential', true);
    hbar.Set('chart.xlabels', false);
    hbar.Set('chart.gutter.left', 100);
    hbar.Set('chart.gutter.right', 50);
    hbar.Set('chart.gutter.top', 25);
    hbar.Set('chart.noxaxis', true);
    hbar.Set('chart.noxtickmarks', true);
    hbar.Set('chart.noytickmarks', true);
    RGraph.isOld() ? hbar.Draw() : RGraph.Effects.HBar.Grow(hbar);
  }
</script>
