<% content_for(:page_title) {t '.page_title'} %>
<% content_for(:title) {t '.page_heading'} %>
<% content_for(:admin_menu) {navbar_link_to(t('buttons.add'), new_language_path, {class: :edit, title: t('buttons.add')})} %>

<div class="row">
  <div id="top10-chart" class="col-8" style="height: 1800px;">
  </div>
</div>

<script>
  var data = [<% @languages.sort{|a,b| b.plaques.size <=> a.plaques.size}.each do |language| %><%= language.plaques.size %>,<% end %>];
  hbar = new RGraph.SVG.HBar({
    id: 'top10-chart',
    data: data,
    options: {
      yaxisLabels: [<% @languages.each do |o| %>'<%= o.name %>',<% end %>],
      colors: ['blue','red','green','orange','blue','red','green','orange','blue'],
      strokestyle: 'rgba(0,0,0,0)',
      labelsAbove: true,
      vmargin: 15,
      backgroundGrid: false,
      colorsSequential: true,
      xlabels: false,
      gutterLeft: 350,
      gutterRight: 50,
      gutterTop: 25,
      noxaxis: true,
      noxtickmarks: true,
      noytickmarks: true,
    }
  }).grow();
</script>
