<% @page_title = @user.username %>

<div class="panel" typeof="sioc:UserAccount">
  <h1 property="foaf:nick"><%= @user.username %></h1>
</div>

<div class="panel">
  <% if @user.plaques.size > 0 %>
    <p>Has added <%= pluralize(@user.plaques.count, "plaque") %>.</p>
    <%= render @user.plaques %>
  <% else %>
    <%= content_tag("p", "No plaques yet.")%>
  <% end %>
</div>