<footer>
  <hr>
  <p><%= icon('copyright') %> Open Plaques 2009-<%= Time.zone.now.strftime("%Y") %></p>
  <p><small>Available as Open Data in .geojson, .json, and .csv format.
  Please consider using the datadump before crawling (and killing) our server.</small></p>
</footer>
