<div class="search_box">
  <%= form_tag(search_path, :method => "get") do %>
    <span id="magnifying_glass"></span>
    <%= label_tag(:phrase, t('menu.search') + ": ") %>
    <%= text_field_tag(:phrase, params[:phrase], :type => 'search', :placeholder => t('menu.search_placeholder')) %>
    <%= submit_tag(t('menu.go'), :name => nil) %>
  <% end %>
</div>