<div class="card">
    <h2 class="card-header"><%=t '.news' %></h2>
    <div class="card-block">
        <p class="card-text"><%=t '.news_detail_html' %></p>
        <div class="text-center">
            <iframe
                src="https://www.facebook.com/plugins/like.php?href=https://www.facebook.com/OpenPlaques&amp;layout=button_count&amp;show_faces=false&amp;width=90&amp;action=like&amp;font&amp;colorscheme=light&amp;height=35"
                scrolling="no"
                frameborder="0"
                style="border:none; overflow:hidden; width:75px; height:20px; text-align:right;"
                allowTransparency="true"></iframe>
        </div>
    </div>
</div>
