<div class="card">
    <h2 class="card-header text-center"><%= t(".open_data") %></h2>
    <div class="card-body">
        <div class="card-text"><%= t(".who_can_use") %></div>
        <div class="text-center">
            <%= link_to "Read more", page_path(:data), class: "btn btn-primary" %>
        </div>
    </div>
</div>
