
<h2>Most-viewed plaques</h2>
<p>In the last 11 years, between 20 May 2009 to 31 May 2020, Open Plaques had a total of 1,913,965 page views.
Some were triggered by internet memes such as Steve Ullathorne's 2012 image of a George Orwell plaque with a CCTV camera next to it.
Others, such as those for Alan Turing, were probably triggered by an anniversary and campaign for recognition.</p>
<div>
  <ol>
    <% @top10.each do |p| %>
    <li><%= link_to(p.inscription, p) %> (<%= p.google_analytics.first&.page_views %> page views)</li>
    <% end %>
  </ol>
</div>