<% content_for(:page_title) {t '.page_title', :page => @page.name } %>
<% content_for(:title) {t '.page_heading', :page => @page.name} %>
<% content_for(:admin_menu) {navbar_link_to t('buttons.edit'), edit_page_path(@page.slug), {:class => :edit, :title => t('buttons.edit')}} %>

<div class="row">
  <%= simple_format(@page.body) %>
</div>
