<% content_for(:page_title) {t '.page_title', :page => @page.name } %>

<div class="panel clearfix">
  <% if current_user && current_user.is_admin? %>
    <section class="admin_panel">
      <%= link_to t('buttons.edit'), edit_page_path(@page.slug), {:class => :edit, :title => t('buttons.edit')} %>
    </section>
  <% end %>
  <h1><%= @page.name %></h1>
</div>

<div class="body">
  <%= simple_format(@page.body) %>
</div>
