<% if sponsorship.plaque != nil %>
  <%= render partial: 'plaques/row', object: sponsorship.plaque, as: :plaque %>
<% else %>
  <div class="row">*** broken sponsorship: <%= sponsorship.id %></div>
<% end %>
