<% content_for(:page_title) {t '.page_title', country: @country.name} %>
<% content_for(:title) { t '.page_heading_html', country: link_to(@country.name , country_path(@country)) } %>

<%= form_for(@area, url: country_areas_path(@country.alpha2)) do |f| %>
  <div class="mb-3">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <%= f.submit t('buttons.save') %>
<% end %>
