<div id="plaque-collection">
  <%= will_paginate @plaques if @plaques.respond_to?(:total_pages) %>
  <%= render partial: 'plaques/plaque_row', collection: @plaques, as: :plaque %>
  <%= will_paginate @plaques if @plaques.respond_to?(:total_pages) %>
</div>
