<style>

      </style>
<%= will_paginate @plaques if @plaques.respond_to?(:total_pages) %>
<div id="plaque-collection">
  <%= render partial: 'plaques/row', collection: @plaques, as: :plaque %>
</div>
<%= will_paginate @plaques if @plaques.respond_to?(:total_pages) %>
