<%= will_paginate @plaques if @plaques.respond_to?(:total_pages) %>
<div id="plaque-tiles" class="row grid" data-masonry='{"percentPosition": true }'>
  <%= render partial: 'plaques/tile', collection: @plaques, as: :plaque %>
</div>
<%= will_paginate @plaques if @plaques.respond_to?(:total_pages) %>
<script>
  setTimeout(function () {
    var msnry = new Masonry('.grid');
  }, 1000);
</script>
