<% content_for(:page_title) {t '.page_title', :photographer => @photographer.id } %>
<% content_for(:title) { t '.page_heading', :photographer =>  @photographer.id } %>

<div class="row">
  <%= pluralize(@photographer.photos.size,"photo") %>
</div>

<div class="container-fluid">
  <div class="card-columns">
    <%= render partial: 'photos/tile', :collection => @photographer.photos, as: :photo %>
  </div>
</div>

<div class="row">
  <p><%= t 'data_about_thing_as' %> .json</p>
</div>