<% content_for(:page_title) {t '.page_title', :photographer => @photographer.id} %>
<% content_for(:title) {t '.page_heading', :photographer =>  @photographer.id} %>
<% content_for(:page_subhead) {pluralize(@photographer.photos.size,'photo')} %>

<div class="card-columns">
  <%= render @photographer.photos %>
</div>
