<% content_for(:page_title) {t '.page_title', :photographer => @photographer.id } %>
<% content_for(:title) { t '.page_heading', :photographer =>  @photographer.id } %>

<div class="row">
  <%= pluralize(@photographer.photos.size,"photo") %>
</div>

<style media="screen" type="text/css">
  @media (min-width: 34em) {
      .card-columns {
          -webkit-column-count: 4;
          -moz-column-count: 4;
          column-count: 4;
      }
  }
  @media (min-width: 48em) {
      .card-columns {
          -webkit-column-count: 5;
          -moz-column-count: 5;
          column-count: 5;
      }
  }
  @media (min-width: 62em) {
      .card-columns {
          -webkit-column-count: 6;
          -moz-column-count: 6;
          column-count: 6;
      }
  }
  @media (min-width: 75em) {
      .card-columns {
          -webkit-column-count: 7;
          -moz-column-count: 7;
          column-count: 7;
      }
  }
</style>

<div class="container-fluid">
  <div class="card-columns">
    <%= render partial: 'photos/tile', :collection => @photographer.photos, as: :photo %>
  </div>
</div>
