<% if controller.controller_name.eql?('picks') && controller.action_name.eql?('show')%>
<div class="card">
<% else %>
<div class="card" style="width: 20rem;">
<% end %>
  <div class="card-block">
    <h4 class="card-title">
      <%= link_to pick.title, pick %>
    </h4>
    <h6 class="card-subtitle text-muted">
      has been featured <%= pluralize(pick.featured_count, "time") %>
    </h6>
  </div>
  <div class="card-block">
    <%= render :partial => 'plaques/tile', locals: { plaque: pick.plaque } %>
  </div>
</div>