<div class="card pick">
  <%= render pick.photo if pick.photo %>
  <blockquote class="blockquote">
    <p class="m-b-0">"<%= pick.description %>"</p>
    <footer class="blockquote-footer"><%= pick.proposer %></footer>
  </blockquote>
  <p class="label label-default label-pill pull-right">featured <%= pluralize(pick.featured_count, "time") %></p>
</div>
