<div class="row">
  <%= link_to(image_tag(pick.photo.thumbnail_url, {:class => 'col-xs-12 col-sm-3'}),pick.plaque) if pick.photo != nil %>
  <div class="col-xs-12 col-sm-9">
    <div class="card-title"><h4><%= link_to pick.plaque.title, pick.plaque %></h4></div>
    <h5><%= pick.proposer %> says,"<%= pick.description %>"</h5>
  </div>
</div>
