<% content_for(:page_title) {t '.page_title', :pick => @pick.title } %>

<div class="panel clearfix">
  <% if current_user && current_user.is_admin? %>
    <section class="admin_panel">
      <%= link_to t('buttons.edit'), edit_pick_path(@pick), {:class => :edit, :title => t('buttons.edit')} %>
    </section>
  <% end %>
  <h1 property="dc:title rdfs:label foaf:name" about="#this"><%= t '.page_heading', :pick => @pick.title %></h1>
  <%= render @pick %>
</div>