<%= will_paginate @roles if @roles.respond_to?(:total_pages) %>
<div id="role-tiles" class="row grid" data-masonry='{"percentPosition": true }'>
  <%= render @roles %>
</div>
<%= will_paginate @roles if @roles.respond_to?(:total_pages) %>
<script>
  setTimeout(function () {
    var msnry = new Masonry('.grid');
  }, 1000);
</script>
