<div class="card">
  <%= link_to(image_tag(photo.thumbnail_url == nil ? photo.file_url : photo.thumbnail_url, {:class => 'card-img-top img-responsive img-thumbnail', :width => '100%'}), photo) %>
</div>
