<% content_for(:page_title) {t '.page_title'} %>
<% content_for(:title) {t '.page_heading'} %>
<% content_for(:page_subhead) {t '.explanation_html'} %>
<% content_for(:admin_menu) {navbar_link_to t('buttons.add'), new_photo_path} %>

<%= will_paginate @photos %>
<div class="card-columns">
  <% @photos.each do |photo| %>
    <%= link_to photo do %>
      <%= render photo %>
    <% end %>
  <% end %>
</div>
<%= will_paginate @photos %>
