<% content_for(:page_title) {t '.page_title'} %>
<% content_for(:title) {t '.page_heading'} %>
<% content_for(:admin_menu) {navbar_link_to(t('buttons.add'), new_country_path, {:class => :edit, :title => t('buttons.add')})} %>

<div class="container">
  <p><%= t '.different_strokes' %></p>
</div>

<div class="container">
  <%= render @countries %>
<div>

<p class="alternate_formats"><%= t 'data_about_things_as' %> .json and .geojson</p>