<% content_for :page_title, "To do: needs geolocating" %>
<% content_for :title, "Plaques with no geolocation" %>
<% content_for(:admin_menu) {navbar_link_to("All to-do lists", "/todo")} %>

<% if @plaques.size > 0 %>
  <%= render partial: 'plaques/tiles' %>
<% else %>
  <p>Every plaque with a photo has a colour attribute assigned. Bravo!</p>
<% end %>
