<% content_for :page_title, "To do: plaques with no description" %>

<div class="panel">
  <h1>Plaques with no description</h1>
  <section class="admin_panel"><%= link_to("All to-do lists", "/todo") %></section>
  <%= will_paginate @plaques %>
    <%= render @plaques %>
    <%= will_paginate @plaques %>
</div>