<% content_for :page_title, "To do: plaques with no description" %>
<% content_for :title, "Plaques with no description" %>
<% content_for(:admin_menu) {navbar_link_to("All to-do lists", "/todo")} %>

<% if @plaques.size > 0 %>
  <%= render partial: 'plaques/tiles' %>
<% else %>
  <p>Every plaque has a description. Bravo!</p>
<% end %>
