<% content_for :page_title, "To do: people with no role" %>
<% content_for :title, "Subjects with no role" %>
<% content_for(:admin_menu) {navbar_link_to("All to-do lists", "/todo")} %>

<% if @people.size > 0 %>
  <%= will_paginate @people %>
  <div class="card-columns">
    <%= render @people %>
  </div>
  <%= will_paginate @people %>
<% else %>
  <p>Every person has a role. Bravo!</p>
<% end %>
