<% content_for :page_title, "To do: people with no role" %>
<% content_for :title, "Subjects with no role" %>
<% content_for(:admin_menu) {navbar_link_to("All to-do lists", "/todo")} %>

<% if @plaques.size > 0 %>
  <div class="container-fluid">
    <%= will_paginate @plaques %>
    <div class="card-columns">
      <%= render @plaques %>
    </div>
    <%= will_paginate @plaques %>
  </div>
<% else %>
  <p>Every person has a role. Bravo!</p>
<% end %>