<% content_for :page_title, "To do: Plaques with photos but partial inscriptions" %>
<% content_for :title, "Plaques with photos but partial inscriptions" %>
<% content_for(:admin_menu) {navbar_link_to("All to-do lists", "/todo")} %>

<% if @plaques.size > 0 %>
  <%= will_paginate @plaques %>
  <div class="card-columns">
    <% @plaques.each do |plaque| %>
      <%= render plaque, action: 'edit' %>
    <% end %>
  </div>
  <%= will_paginate @plaques %>
<% else %>
  <p>Every plaque has an inscription. Bravo!</p>
<% end %>
