<% content_for :page_title, "To do: photos with no plaque" %>
<% content_for :title, "Photos with no plaque" %>
<% content_for(:admin_menu) {navbar_link_to("All to-do lists", "/todo")} %>

<% if @photos.size > 0 %>
  <%= will_paginate @photos %>
  <div class="row" data-masonry='{"percentPosition": true }'>
    <% @photos.each do |photo| %>
      <div class="col-sm-3 col-lg-2 mb-2">
      <%= link_to edit_photo_path(photo) do %>
        <%= render photo %>
      <% end %>
      </div>
    <% end %>
  </div>
  <%= will_paginate @photos %>
<% else %>
  <p>Every photo is connected to a plaque. Bravo!</p>
<% end %>
