<% content_for(:page_title) {t '.page_title' } %>

<div class="panel">
  <h1><%= t '.page_heading' %></h1>
  <%= render @verbs %>
</div>

<p class="alternate_formats"><%= t 'data_about_things_as' %> <%= alternate_link_to "JSON", verbs_path(:json), :json %></p>