<% content_for(:page_title) {t '.page_title'} %>
<% content_for(:title) {t '.page_heading'} %>
<% content_for(:page_subhead) {t '.explanation'} %>

<%= form_for :verb, url: verbs_path do |f| -%>
  <div class="mb-3">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <%= f.submit t('buttons.save') %>
<% end %>
