<% content_for(:page_title) {t '.page_title', verb: @verb.name } %>
<% content_for(:title) { @verb.name } %>
<% content_for(:page_subhead) do %>
  Each subject is connected to a plaque by what they did there
  <% @subject_count = @verb.personal_connections_count %>
  <%= render partial: 'people/badge' %>
<% end %>

<%= will_paginate @personal_connections if @personal_connections.respond_to?(:total_pages) %>
<div class="row" data-masonry='{"percentPosition": true }'>
  <%= render @personal_connections %>
</div>
<%= will_paginate @personal_connections if @personal_connections.respond_to?(:total_pages) %>
