<div class="row card">
  <div class="card-block">
    <h4 class="card-title"><%= link_to series.name, series %></h4>
    <p class="card-text"><%= series.description %></p>
    <% @plaques = series.plaques.photographed.random.limit(5) %>
    <%= render partial: 'plaques/tiles' %>
    </div>
  </div>
</div>
