<div class="card">
  <div class="header">
    <span id="name"><%= link_to(series.name, series_path(series))%></span>
    <span id="description"><%= series.description %></span>
  </div>
  <%= render partial: 'plaques/tile', collection: series.plaques.photographed.limit(10), as: :plaque %>
  <br style="clear: both;"/>
</div>
