// Bootstrap variables
$grid-gutter-width: 20px;
$grid-float-breakpoint: 480px;

// Padding to clear fixed nav
body {
  padding-top: 10px;
}

// Make sure alerts are nicely formatted
.alert {
  a {
    white-space: nowrap;
  }
}

// everything except jumbotron gets a bit of padding
.header,
.row,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

// Autocomplete
.ui-autocomplete {
  list-style-type: none;
  width: 300px;
}

.ui-autocomplete .ui-menu-item {
  background: rgba(255,255,255,.95);
  border-bottom: dotted 1px #CCC;
}

html.no-rgba .ui-autocomplete .ui-menu-item {background: #FFF;}

.ui-autocomplete .ui-menu-item a {
  display: block;
  font-size: 14px;
  color: #333;
  padding: 8px;
}

.ui-autocomplete .ui-menu-item a.ui-state-hover {
  color: #FFF;
  cursor: pointer;
}

.ui-autocomplete .ui-menu-item a#ui-active-menuitem {
  background: #4F7CBF;
  text-shadow: 1px 1px #333;
}

// Page footer

.page__footer {
  margin-top: 100px;
  padding: 20px 10px;
  border-top: 1px solid $gray-500;
  text-align: center;

  ul {
    @extend .list-unstyled;
    margin: 0;
  }
  li {
    display: inline-block;
    margin: 0 10px;
  }
  a {
    &:hover {
      color: $link-color;
    }
  }
}
