<div class="row featurette">
  <div class="col-md-7<% if id&.even? %> order-md-2<% end %>">
    <h2 class="featurette-heading"><%= heading %> <% unless subheading.include?('Subheading') %><span class="text-muted"><%= subheading %></span><% end %></h2>
    <p class="lead"><%= markdown(body) %></p>
  </div>
  <div class="col-md-5<% if id.even? %> order-md-1<% end %>">
    <% if image_url.present? %>
      <%= image_tag(image_url, class: 'featurette-image img-fluid mx-auto', alt: image_alt) %>
    <% else %>
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/400x500/auto" alt="Generic placeholder image">
    <% end %>
  </div>
</div>
<hr class="featurette-divider">
